<!DOCTYPE html>
<html ng-app='youtApp'>

<head>
  <title> main </title>
  <base href='/'>
  <link rel='stylesheet' href='lib/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='src/bootstrap.min.css' />
</head>

<body>
  <div class='container'>
    <div class='page-header'>
      <h1> main </h1>
    </div>
    <div class='row'>
      <div class='col-sm-12' dl-field></div>
    </div>
    <div class='row'>
      <div class='col-sm-12' list></div>
    </div>
    <table  ng-controller="customerList"   class='table table-hover table-bordered'>
        <thead>
            <tr>
                <th>
                  Files
                </th>
            </tr>
        </thead>
        <tbody>
          <!-- <tr  ng-repeat='contact in contacts | filter: query | orderBy: sort.field : sort.order'>
              <td > {{ contact }} </td>
          </tr> -->
          <tr  ng-repeat='customer in customers | orderBy: sort.field : sort.order'>
              <td > {{ customer }} </td>
          </tr>
        </tbody>
    </table>

  </div>

  <script src='lib/jquery/dist/jquery.min.js'></script>
  <script src='lib/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='lib/angular/angular.min.js'></script>
  <script src='lib/angular-route/angular-route.min.js'></script>


  <script src='src/app.js'></script>
  <script src='src/factories.js'></script>
  <script src='src/controllers.js'></script>
  <script src='src/directives.js'></script>
</body>

</html>
