<!DOCTYPE html>
<html ng-app='youtApp'>

<head>
  <title> main </title>
  <base href='/'>
  <link rel='stylesheet' href='lib/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='src/bootstrap.min.css' />
</head>

<body>
  <div class='container'>
    <div class='page-header'>
      <h1> main </h1>
    </div>
    <div class='row'>
      <div class='col-sm-12' dl-field></div>
    </div>

    <div ng-controller="vidList" class='row'>
      <button type="button" name="button" ng-click="refreshListFun2()">ref</button>
      <div class='col-sm-12' list></div>
    </div>

    <div ng-controller="vidList" class='row'>
      <button type="button" name="button" ng-click="refreshListFun2()">ref</button>
      <div class='col-sm-12'>
        <span>ssss</span>
        <div ng-repeat='customer in customers'>
          <div> {{ customer }} </div>
        </div>
      </div>
    </div>
    <br/>
    <div ng-controller="vidListTest" class="">
      <button type="button" name="button" ng-click="refreshListFun()">ref</button>
      <refresh-list/>
      <div ng-repeat='customer in customers'>
        {{ customer }}
      </div>
    </div>
  </div>

  <script src='lib/jquery/dist/jquery.min.js'></script>
  <script src='lib/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='lib/angular/angular.min.js'></script>
  <script src='lib/angular-route/angular-route.min.js'></script>


  <script src='src/app.js'></script>

  <script src='src/factories.js'></script>
  <script src='src/controllers.js'></script>
  <script src='src/directives.js'></script>
</body>

</html>
